<h1>Create a New Account</h1>

<% if flash.has?(:message) %>
    <h3 style="color: red;"><%= flash[:message] %></h3>
<% end %>

<form action="/signup" method="POST">

    <div class="signup">
        <label>Username </label><input type="text" name="username"/>
        <label>Email </label><input type="text" name="email"/>
        <label>Password </label><input type="password" name="password"/>
        <label>Confirm Password </label><input type="password" name="password_confirmation"/><br>

        <input type="submit" class="button" value="Sign Up"/>
    </div>

</form>