<!DOCTYPE html>
  <head>
    <title>RecipesSharing</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  
  <body>
    <div class="wrapper">

        <%= yield %>

      <footer class="branding">
        
      </footer>
    </div>

  </body>
</html>
